@import 'styles/helpers';

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $antd-layout-body-background;
  .mainContent {
    flex: 1;
    margin: 24px 24px 0;
    background: $antd-grey-1;
    box-shadow: $antd-shadow-1-right;
  }
}