@import 'styles/helpers';

.sider {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 256px;
  box-shadow: 2px 0 8px $antd-shadow-color;
  &-header {
    display: flex;
    align-items: center;
    background: $antd-layout-sider-header-background;
    height: 64px;
    padding-left: 24px;
  }
  &-body {
    flex: 1;
    background: $antd-layout-sider-body-background;
  }
  &-logo {
    height: 48px;
    width: 48px;
  }
  &-appName {
    color: $antd-grey-1;
    font-weight: bold;
    font-size: $font-size-xl;
  }
}