@import '../styles/helpers';

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $antd-layout-body-background;
  .mainContent {
    flex: 1;
    margin: 1.5em 1.5em 0;
    background: $antd-grey-1;
  }
}