@import '../styles/helpers';

.sider {
  width: 16em;
  min-height: 100vh;
  &-header {
    height: 4em;
    padding: 1em;
    background: $antd-blue-8;
    &-appName-placeholder {
      height: 100%;
      border-radius: $border-radius-base;
      color: $antd-grey-1;
      font-weight: bold;
      font-size: font-size-title;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-body {
    padding: 1em 0;
    min-height: calc(100% - 64px);
    background: $antd-blue-9;
  }
}